.titan {
    margin-top: 80px;
    // min-height: 650px;
    
    &__container {
        width: 1110px;
        margin: 0 auto;
    }

    &__wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}