.my-button {
    padding: 5px 25px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    color: teal;
    border: 2px solid teal;
    background-color: rgba(37, 33, 33, 0.123);
    &:hover {
        transform: scale(1.01);
    }
}